.song{
  padding: 1rem;
  border-radius: .5rem;
  .media{
    display: flex;
    align-items: center;
    color: #fff;
    .media__left{
      width: 50%;
      display: flex;
      .thumb{
        width: 4rem;
        position: relative;
        cursor: pointer;
        margin-right: 1rem;
        &__images{
          img{
            width: 100%;
          }
        }
        &__opacity{
          position: absolute;
          left: 0;
          top: 0;
          z-index: 1;
          width: 100%;
          height: 100%;
          background-color: rgba(#000, .5);
          opacity: 0;
        }
        &__btn{
          position: absolute;
          left: 50%;
          top: 50%;
          z-index: 2;
          transform: translate(-50%, -50%);
          font-size: 2rem;
          color: #fff;
          display: flex;
          align-self: center;
          justify-content: center;
          align-items: center;
          opacity: 0;
          font-size: 1.5rem;
        }
      }
      .card{
        display: inline-block;
        flex-grow: 1;
        &__name{
          font-size: 12px;
          margin-top: 3px;
          color: #ffffff80;
        }
      }
    }
    .media__content{
      flex-grow: 1;
    }

    .media__right{
      .actions{
        display: flex;
        .action__btn{
          color: #fff;
          cursor: pointer;
          border-radius: 50%;
          width: 30px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: background-color .2s ease-in-out;
          &:hover{
            background-color: #76767680;
          }
          &--svg{
            span{
              color: #5a1eae;
            }
          }
        }
      }
    }
  }

  &:hover, &.active{
    background-color:#ffffff1a;
    .media{
      .media__left{
        .thumb{
          .thumb__opacity{
            opacity: 1;
          }
          .thumb__btn{
            opacity: 1;
          }
        }
      }
    }
  }
}

.song__more{
  background-color: #432275;
  color: #fff;
  border-radius: .5rem;
  width: 250px;
  .song__info{
    display: flex;
    padding: 12px 16px;
    .song__image{
      width: 40px;
      min-width: 40px;
      img{
        width: 100%;
      }
    }
    .song__text{
      margin-left: 10px;
      .name{
        display: block;
        &--song{
          white-space: nowrap;
          font-weight: bold;
        }
      }
    }
  }
  .song__actions{
    .action__item{
      padding: 12px 16px;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      .popup{
        display: none;
        position: absolute;
        right: 100%;
        background-color: #432275;
        border-radius: .5rem;
        min-height: 290px;
        width: 230px;
        right: calc(100% - 10px);
        .menu-list{
          list-style: none;
          margin-bottom: 0;
          .search-box {
            outline: unset;
            box-shadow: unset;
            border: unset;
            border-radius: 20px;
            padding: 12px 16px;
          }
          .init-play-list {
            margin-top: 0;
            padding: 12px 15px;
            display: flex;
            align-items: center;
            .init-icon {
              font-size: 20px;
              line-height: 1;
              background: linear-gradient(0deg, #9c63bf, #c666ac);
              border-radius: 0.3rem;
            }
            .init-text {
              margin-left: 1rem;;
            }
            &:hover{
              background-color: #ffffff1a;
            }
          }
        }
        .play__list{
          .item{
            display: block;
            white-space: nowrap;
            padding: 12px 16px;
            display: flex;
            align-items: center;
            .init-icon {
              font-size: 20px;
              line-height: 1;
            }
            .init-text {
              margin-left: 1rem;;
            }
            &:hover{
              background-color: #ffffff1a;
            }
          }
        }
      }
      &:hover{
        background-color: #ffffff1a;
        .popup{
          display: inline-block;
        }
      }
    }
  }
}