.login__container{
  .upload__btn{
    padding: .5rem 1.5rem;
    background-color: #7200a1;
    color: #fff;
    cursor: pointer;
    border-radius: .3rem;
    border: 1px solid #7200a1;
    transition: background-color .2s ease-in-out;
    &:hover{
      background-color: #fff;
      color: #7200a1;
    }
  }

}