
.create-play-list {
  .ant-modal-content {
    border-radius: 1rem;
    overflow: hidden;
    background-color: transparent;
    width: 330px;
    .ant-modal-header {
      background-color: #432275;
      border-bottom: unset;
      .ant-modal-title {
        color: #fff;
        font-size: 20px;
        text-align: center;
        margin-top: 10px;
      }
    }
    .ant-modal-body {
      background-color: #432275;
      padding-top: unset;
      .create-input-form {
        border-color: unset;
        box-shadow: unset;
        outline: unset;
        border-radius: 20px;
        padding: 8px 15px;
      }
    }
  }

  .album__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    margin: 0 auto;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    padding: 8px 0;
    border-radius: 999px;
    opacity: 0.5;
    background-color: #7200a1;
    border: 1px solid #0000001a;
    border-color: #7200a1;
    cursor: not-allowed;
    &:focus {
      outline: none;
    }
    &.active {
      opacity: 1;
      cursor: pointer;
    }
  }
}
