.player{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #170f23;
  width: 100%;
  padding: 1rem 2rem;
  border-top: 1px solid #2a213a;
  @media screen and (max-width: 1024px) {
    min-width: 1024px;
  }
  .player__left{
    width: 30%;
    .media{
      display: flex;
      .media__left{
        a {
          display: inline-block;
          .circle{
            width: 6rem;
            height: 6rem;
            border-radius: 50%;
            background-color: #2a213a;
            overflow: hidden;
            border: .1rem solid #fff;
            &.spin{
              animation:spin 4s linear infinite;
              @keyframes spin { 
                100% { transform:rotate(360deg); } 
              }
            }
            img{
              width: 100%;
            }
          }
        }
      }
      .media__content{
        display: flex;
        flex-direction: column;
        padding: 0 1rem;
        justify-content: center;
        align-items: flex-start;
        .song__info{
          font-size: 1.5rem;
          a{
            text-decoration: none;
            color: #fff;
          }
        }
        .singer__name{
          font-size: 1.3rem;
          a{
            text-decoration: none;
            color: #fff;
          }
        }
      }
      .media__right{
        display: flex;
        align-items: center;
        .icons{
          font-size: 2rem;
          color: #fff;
          margin-left: 1.5rem;
          display: flex;
          .icon__btn{
            color: #fff;
            cursor: pointer;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background-color .2s ease-in-out;
            &:hover{
              background-color: #76767680;
            }
          }
        }
      }
    }
  }
  .player__bar{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .control__btn{
      display: flex;
      align-items: center;
      .icon__btn{
        color: #fff;
        cursor: pointer;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color .2s ease-in-out;
        &:hover{
          background-color: #76767680;
        }
      }
      .play_icon{
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        cursor: pointer;
        border-radius: 50%;
        transition: color .2s ease-in-out;
        &:hover{
          color: #7200a1;
        }
      }
    }
    .control__progress{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      .progress__container{
        width: 80%;
        height: 1rem;
        display: flex;
        align-items: center;
        cursor: pointer;
        .progress{
          width: 100%;
          height: .2rem;
          background-color:  #787878;
          border-radius: .2rem;
          position: relative;
          .progress__absolute{
            width: 100%;
            height: inherit;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            background-color: transparent ;
          }
          .progress__run{
            background-color: #fff;
            position: absolute;
            top: 0;
            left: 0;
            height: inherit;
            width: 0%;
            border-radius: .2rem;
            z-index: 1;
          }
        }
        &:hover{
          .progress{
            height: .5rem;
            .progress_absolute{
              height: 1rem;
              top: -3px;
            }
          }
        }
      }
      .time{
        color: #fff;
        font-size: 1.2rem;
        padding: 0 1rem;
      }
    }
  }
  .player__right{
    width: 30%;
    .actions{
      display: flex;
      justify-content: flex-end;
      .actions__volume{
        color: #fff;
        font-size: 2rem;
        display: flex;
        align-items: center;
        .volume{
          font-size: 1.8rem;
          color: #fff;
          cursor: pointer;
          border-radius: 50%;
          width: 30px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: background-color .2s ease-in-out;
          &:hover{
            background-color: #76767680;
          }
        }
        .actions__progress{
          width: 80px;
          height: 1rem;
          display: flex;
          align-items: center;
          cursor: pointer;
          .progress{
            width: 100%;
            height: .2rem;
            background-color:  #787878;
            border-radius: .2rem;
            position: relative;
            .progress__absolute{
              width: 100%;
              height: inherit;
              position: absolute;
              top: 0;
              left: 0;
              z-index: 2;
              background-color: transparent ;
            }
            .progress__run{
              background-color: #fff;
              position: absolute;
              top: 0;
              left: 0;
              height: inherit;
              width: 0%;
              border-radius: .2rem;
              z-index: 1;
            }
          }
          &:hover{
            .progress{
              height: .5rem;
              .progress_absolute{
                height: 1rem;
                top: -3px;
              }
            }
          }
        }
        &:hover{
          .progress{
            height: .5rem;
            .progress_absolute{
              height: 1rem;
              top: -3px;
            }
          }
        }
      }
      .line{
        width: 1px;
        background-color: #ffffff1a;
        margin: 0px 20px;
      }
      .music__btn{
        color: #fff;
        font-size: 2rem;
        display: flex;
        align-items: center;
        .volume{
          color: #fff;
          cursor: pointer;
          border-radius: 50%;
          width: 30px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: background-color .2s ease-in-out;
          &:hover{
            background-color: #76767680;
          }
        }
      }
    }
  }
}