.upload_btn{
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff33;
  border-color: transparent;
  border-width: .1rem;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color .3s ease-in-out;
  &:hover{
    border-color: #c662ef;
  }
}