.app_song{
  padding: 1rem;
  border-radius: .5rem;
  .app_media{
    display: flex;
    align-items: center;
    color: #fff;
    .media_left{
      width: 50%;
      display: flex;
      .media_thumb{
        width: 4rem;
        position: relative;
        cursor: pointer;
        margin-right: 1rem;
        .images{
          img{
            width: 100%;
          }
        }
        .opacity{
          position: absolute;
          left: 0;
          top: 0;
          z-index: 1;
          width: 100%;
          height: 100%;
          background-color: rgba(#000, .5);
          opacity: 0;
        }
        .play_btn{
          position: absolute;
          left: 50%;
          top: 50%;
          z-index: 2;
          transform: translate(-50%, -50%);
          font-size: 2rem;
          color: #fff;
          display: flex;
          align-self: center;
          justify-content: center;
          align-items: center;
          opacity: 0;
          font-size: 1.5rem;
        }
      }
      .card_info{
        display: inline-block;
        flex-grow: 1;
        .singer_name{
          font-size: 12px;
          margin-top: 3px;
          color: #ffffff80;
        }
      }
    }
    .media_content{
      flex-grow: 1;
    }

    .media_right{
      .actions{
        display: flex;
        .action_btn{
          color: #fff;
          cursor: pointer;
          border-radius: 50%;
          width: 30px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: background-color .2s ease-in-out;
          &:hover{
            background-color: #76767680;
          }
        }
      }
    }
  }

  &:hover, &.active{
    background-color:#ffffff1a;
    .app_media{
      .media_left{
        .media_thumb{
          .opacity{
            opacity: 1;
          }
          .play_btn{
            opacity: 1;
          }
        }
      }
    }
  }
}

.song_more{
  background-color: #432275;
  color: #fff;
  .song_info{
    display: flex;
    padding: 12px 16px;
    .song_image{
      width: 40px;
      min-width: 40px;
      img{
        width: 100%;
      }
    }
    .song_text{
      margin-left: 10px;
      .song_name{
        display: block;
        white-space: nowrap;
        font-weight: bold;
      }
      .singer_name{
        display: block;
      }
    }
  }
  .action_list{
    .action_item{
      padding: 12px 16px;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      .item_pop_up{
        display: none;
        position: absolute;
        right: 100%;
        background-color: #432275;
        .play_list{
          .list_item{
            display: block;
            white-space: nowrap;
            padding: 12px 16px;
            &:hover{
              background-color: #ffffff1a;
            }
          }
        }
      }
      &:hover{
        background-color: #ffffff1a;
        .item_pop_up{
          display: inline-block;
        }
      }
    }
  }
}
