.play_list_drawer{
  width: 320px !important;
  height: calc(100% - 88px);
  .ant-drawer-content-wrapper{
    .ant-drawer-content{
      background-color: #120822;
    }
    .ant-drawer-body{
      padding: .5rem;
    }
  }
}