.category__container {
  .category__link {
    font-size: 18px;
    color: #fff;
    margin-bottom: 10px;
    display: inline-block;
    &:hover {
      color: #c662ef;
    }
  }
  .slick-arrow.slick-next,
  .slick-arrow.slick-prev {
    top: -25px;
  }
}
