.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #2a213a;
  min-width: 22rem;
  height: 100%;
  transition: width .3s ease-in-out;
  position: relative;
  @media screen and (max-width: 1024px) {
    min-width: 10rem;
  }
  .sidebar_logo{

  }
  .line{
    background-color: #ffffff1a;
    height: .1rem;
    margin: 0 2rem;
  }
  .sidebar_list{
    display: flex;
    flex-direction: column;
    .sidebar_list_item{
      font-size: 1.5rem;
      color: #fff;
      padding: 1rem 2rem;
      cursor: pointer;
      &:hover{
        background-color: #ffffff1a;
      }
      @media screen and (max-width: 1024px) {
        text-align: center;
        padding: 1rem 3rem;
      }

      .list_item_icon{
        
      }

      .list_item_text{
        padding-left: 1rem;
        @media screen and (max-width: 1024px) {
          display: none;
        }
      }
    }
  }

  .extend{
    padding: 0 2rem;
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    .extend_icon{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      background-color: #ffffff1a;
      color: #fff;
      cursor: pointer;
    }
    @media screen and (max-width: 1024px) {
      padding: 0;
      justify-content: center;
    }
  }
}


// scss common
.margin_bottom_20{
  margin-bottom: 2rem;
}

.margin_top_20{
  margin-top: 2rem;
}