.app{
  height: 100%;
}

.app_layout{
  display: flex;
  height: 100%;
}

.app_content_wrap{
  width: 100%;
  background-color: #170f23;
  overflow-y: auto;
  position: relative;
  &::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #170f23;
  }

  &::-webkit-scrollbar
  {
    width: 6px;
    background-color: #170f23;
  }

  &::-webkit-scrollbar-thumb
  {
    background-color: #ffffff4d;
  }

  .app_content{
    align-self: flex-start;
    padding: 0 3rem;
    width: 100%;
    margin-top: 7rem;
    @media screen and (max-width: 1024px) {
      width: 100%;
    }
  }
}

.song_item{
  padding: 0 1rem;
}

.padding_left_10 {
  padding-left: 1rem;
}

.padding_right_10 {
  padding-right: 1rem;
}
