*{
  padding: 0;
  margin: 0;
}

html {
  @media screen and (max-width: 1024px) {
    min-width: 1024px;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ant-popover-inner-content{
  padding: 0;
}

.admin_drawer{
  .ant-drawer-content{
    background-color: #2a213a;
  }
}

.admin_tabs{
  color: #fff;
  .ant-tabs-tab{
    &:hover{
      color: #c662ef;
    }
  }
  .ant-tabs-ink-bar{
    background: #c662ef;
  }
  .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
    color: #c662ef
  }
}

.ant-form-item-label{
  label{
    color: #fff
  }
}

.has-play{
  height: calc(100% - 90px);
}


.pl__10{
  padding-left: 10px;
}

.pr__10{
  padding-right: 10px;
}

.ml__10{
  margin-left: 10px;
}

.mr__10{
  margin-right: 10px;
}

.mb__20{
  margin-bottom: 20px;
}

.mt__20{
  margin-top: 20px;
}

.ml__20{
  margin-left: 20px;
}

.mt__30{
  margin-left: 30px;
}

.fs__20{
  font-size: 20px;
}

.fs__30{
  font-size: 30px;
}

