.user__albums {
  .title {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .albums {
    display: flex;
    flex-wrap: wrap;
    .empty {
      padding: 0 10px;
      .empty__content{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #fff;
        cursor: pointer;
        border-radius: 4px;
        background: linear-gradient(33deg, #5a1eae -7%, #ce267a 117%);
      }
    }
    .item {
      width: 16%;
      margin-top: 20px;
      @media screen and (max-width: 1200px) {
        width: 20%;
      }
      @media screen and (max-width: 1024px) {
        width: 25%;
      }
    }
  }

  .margin_left_20 {
    margin-left: 20px;
  }
}

.create-play-list {
  .ant-modal-content {
    border-radius: 1rem;
    overflow: hidden;
    background-color: transparent;
    width: 330px;
    .ant-modal-header {
      background-color: #432275;
      border-bottom: unset;
      .ant-modal-title {
        color: #fff;
        font-size: 20px;
        text-align: center;
        margin-top: 10px;
      }
    }
    .ant-modal-body {
      background-color: #432275;
      padding-top: unset;
      .create-input-form {
        border-color: unset;
        box-shadow: unset;
        outline: unset;
        border-radius: 20px;
        padding: 8px 15px;
      }
    }
  }

  .album__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    margin: 0 auto;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    padding: 8px 0;
    border-radius: 999px;
    opacity: 0.5;
    background-color: #7200a1;
    border: 1px solid #0000001a;
    border-color: #7200a1;
    cursor: not-allowed;
    &:focus {
      outline: none;
    }
    &.active {
      opacity: 1;
      cursor: pointer;
    }
  }
}
