.app_personal{
  display: flex;
  align-items: center;
  min-height: 52px;
  flex-direction: column;
  .user_page{
    color: #fff;
  }
  .personal_song{
    width: 100%;
    .song_title{
      font-size: 20px;
      color: #fff;
    }
    .song_list{

    }
  }
}